body {
  font-family: "Mulish", sans-serif;
  background: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  padding: 100px;
  height: 100%;
}

h1 {
  text-align: center;
  display: block;
  margin: 0;
  padding: 20px 0;
  font-size: 60px;
}

form {
  padding-bottom: 10px;
  text-align: center;
  position: relative;
}

li {
  list-style: none;
  font-size: 16px;
}
li:first-letter {
  text-transform: capitalize;
}
button {
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  transition: all 150ms ease-in-out;
  display: block;
  margin: 0 auto;
  background: #807e7e79;
  color: white;
  border-radius: 10px;
  position: relative;
  left: 240px;
  top: -58px;
}

button:hover,
.submit-button:hover {
  background: transparent;
  color: black;
  cursor: pointer;
}

.card-text {
  font-size: 40px;
}
.temperature {
  font-size: 60px;
}

.weather-app {
  border: 2px solid gray;
  border-radius: 15px;
  padding: 20px;
  max-width: 750px;
  margin: 20px auto;
  min-width: 600px;
}
.units {
  position: relative;
  top: -30px;
}
.text-center {
  background-color: transparent;
}
.me {
  text-align: center;
}

.submit-button {
  margin: 15px;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  transition: all 150ms ease-in-out;
  background: #807e7e79;
  color: white;
  border-radius: 10px;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  color: black;
}
.weeks-weather {
  margin-top: 25px;
  text-align: center;
}
.forecast-date {
  font-size: 16px;
}
.forecast-temp {
  font-size: 14px;
}
.forecast-max {
  font-weight: bold;
}
.forcast-min {
  opacity: 0.6;
}
